{% extends "base.html" %}

{% block content %}
<h1>Журнал департаментов</h1>
<br>
<div>
{% if current_user.is_authenticated %}
    <a href="department" class="btn btn-secondary">Добавить департамент</a>
{% endif %}
<a href="/" class="btn btn-secondary">Вернуться к работам</a>
</div>
<br>
{% for item in departments %}
<div>
    <table width="100%">
        <tr bgcolor="#aaaaaa">
            <th width="40%">Title of department</th>
            <th width="20%">Chief</th>
            <th width="20%">Members</th>
            <th width="20%">Email</th>
        </tr>
        <tr bgcolor="#cccccc">
            <td>{{item.title}}</td>
            <td>{{item.user.name}} {{item.user.surname}}</td>
            <td>{{item.members}}</td>
            <td>{{item.email}}</td>
        </tr>
        <tr>
            <td bgcolor="#cccccc">
            {% if current_user.is_authenticated and (current_user.id == item.user_id or current_user.id == 1) %}
                <div>
                    <a href="/department/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/department_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
            </td>
            <td bgcolor="#cccccc"></td>
            <td bgcolor="#cccccc"></td>
            <td bgcolor="#cccccc"></td>
            <td bgcolor="#cccccc"></td>
        </tr>
    </table>
</div>
<br>
{% endfor %}
{% endblock %}
